# Application
NODE_ENV=

# Ports
AUTH_SERVICE_PORT=4001
CONTENT_SERVICE_PORT=4002
NOTIFICATION_SERVICE_PORT=4003
REPORT_SERVICE_PORT=4004
AUDIT_SERVICE_PORT=4005
API_GATEWAY_PORT=3000
FRONTEND_PORT=3001

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TTL=

# MongoDB
MONGO_URI=

# Auth
JWT_SECRET=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

CORS_ORIGIN=